[user]
  name = savanto
  email = savanto@users.noreply.github.com

[core]
  editor = vim

[merge]
  tool = vimdiff

[alias]
  ac = !git add -A && git commit
  br = branch
  ca = commit -a
  ch = checkout
  cm = commit
  cp = cherry-pick
  gr = log --graph --all --oneline --decorate
  st = status -sb
  ls = ls-tree --name-only -r HEAD

  pom = pull origin master
  chom = !git fetch && git checkout -B master origin/master

  assume = update-index --assume-unchanged
  backtag = "!sh -c '[ $# -ge 2 ] && GIT_COMMITTER_DATE=\"$1\" git tag -a $2 $3 || echo \"Usage: git backtag <date time> <name> [<commit>]\" && exit 1' -"
  branches = branch -a
  changelog = log --oneline --no-merges
  graph = log --graph --all --oneline --decorate
  last = log -1 HEAD
  overview = log --all --oneline --no-merges
  recap = log --all --oneline --no-merges --author=savanto@users.noreply.github.com
  recent = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
  remotes = remote -v
  stats = shortlog -sn
  tags = tag -l
  unassume = update-index --no-assume-unchanged
  unstage = reset HEAD --
  wdiff = diff --word-diff

[color]
  ui = 1

[help]
  autocorrect = 0

