[user]
  name = savanto
  email = savanto@users.noreply.github.com

[core]
  editor = vim

[merge]
  tool = vimdiff

[alias]
  ch = checkout
  cm = commit
  ac = !git add -A && git commit
  st = status -sb
  ls = ls-tree --name-only -r HEAD
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  assume = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  pom = pull origin master

[color]
  ui = 1

[help]
  autocorrect = 0
