# History files
.bash_history
.lesshst
.psql_history
.python_history
.sc_history
.sh_history
.sqlite_history
.viminfo

# Security
.aws/
.boto
.ecryptfs
.gnupg/
.gsutil/
.password-store/
.pgpass
.pki/
.Private
.pulse-cookie
.ssh/
.Xauthority

# App directories
.android/
.cmus/
.cups/
.gegl-0.0/
.ghc/
.gimp-2.6/
.gstreamer-0.10/
.john/
.mozilla/
.node-gyp/
.npm/
.pip/
.pulse/
.vbox/
.vim/.netrwhist
.virtualenvs/

# Home directories
bin/
devel/
music/
tmp/
prod/

# Misc
.cache/
.config/
.dbus/
.fontconfig/
.fonts/
.local/
.thumbnails/
.xsession-errors
