# History files
.bash_history
.lesshst
.psql_history
.python_history
.sc_history
.sh_history
.sqlite_history
.viminfo

# Security
.ecryptfs
.gnupg/
.password-store/
.pki/
.Private
.pulse-cookie
.ssh/
.Xauthority

# App directories
.AndroidStudio/
.android/
.cmus/
.cups/
.ghc/
.gimp-*/
.gnome/
.gradle/
.gstreamer-*/
.icons
.java/
.minecraft/
.pip/
.pulse/
.vim/.netrwhist
.wine/

# Home directories
devel/
music/
tmp/

# Misc
.cache/
.config/
.dbus/
.fontconfig/
.fonts/
.local/
.thumbnails/
.xsession-errors
.wallpaper/
